<div class="container-fluid mt-2">

    <div class="jumbotron jumbotron-fluid animated fadeIn fast bg-secondary">
        <div class="container">
            <h1 class="display-5 text-center">Receptes que utilitzo sovint per sobreviure </h1>
            <h1 class="text-center">______________</h1>
            <h1 class="text-center">👨🏼‍🍳 😂 😂 😂 👨🏼‍🍳</h1>


            <div class="row d-flex justify-content-around ">
                <div class="col col-sm-6 ">
                    <a href="http://usuaris.tinet.cat/sag/recetas.htm#salsa_calsots" target="_blank">
                        <img src="../../../assets/img/calçotada.jpeg" class="img-fluid rounded-circle">
                    </a>
                </div>
                <div class="col col-sm-6">
                    <a href="http://usuaris.tinet.cat/sag/recetas.htm#salsa_calsots" target="_blank">
                        <img src="../../../assets/img/calçotada-1.jpeg" class="img-fluid rounded-circle">
                    </a>
                </div>

            </div>

            <div class="row mt-3">
                <div class="col">
                    <span> 👩‍🍳👨🏼‍🍳</span>
                    <span>Amics que cuinen.. o no..</span>
                    <div class="row mt-2 ">
                        <div class="col-4">
                            <div class="list-group" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Pilar</a>
                                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile"> SAG</a>

                            </div>
                        </div>
                        <div class="col-8">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">Podem trobar tot tipus de receptes aportades pels membres de la xarxa.
                                    <br> No cal donar-se d'alta per consultar-la, però si vols aportar la teva recepta preferida, hauràs de donar-te d'alta.
                                    <br>
                                    <a href="https://www.receptes.cat" target="_blank" class="badge badge-primary">Receptes</a>
                                </div>
                                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"> Aquí trobaràs totes les receptes que en SAG ha anat recopilant desde 1987.
                                    <br> Com veuràs té una gran varietat de plats.
                                    <br>
                                    <a href="http://usuaris.tinet.cat/sag/recetas.htm" target="_blank" class="badge badge-primary">Receptes</a>




                                </div>

                            </div>

                        </div>
                    </div>




                </div>
            </div>

        </div>