<div class="container-fluid">
    <h1 class="display-4 animated fadeIn fast">About Tinc gana App</h1>
    <hr>

    <div class="jumbotron jumbotron-fluid animated fadeIn fast bg-secondary">
        <div class="container">
            <h1 class="display-4 text-center">Receptes que utilitzo sovint per sobreviure </h1>
            <h1 class="text-center">______________</h1>
            <h1 class="text-center">👨🏼‍🍳 😂 😂 😂 👨🏼‍🍳</h1>


            <div class="row d-flex justify-content-around ">
                <div class="col col-sm-6 ">
                    <img src="../../../assets/img/calçotada.jpeg" class="img-fluid rounded-circle">
                </div>
                <div class="col col-sm-6">
                    <img src="../../../assets/img/calçotada-1.jpeg" class="img-fluid rounded-circle">
                </div>


            </div>


        </div>
    </div>
</div>