<h2> Grau de dificultat ! </h2>
<h5>Criteri per valorar: dificultat, temps i que sempre surti igual</h5>
<h6>Als novells de la cuina, el plat surt diferent cada vegada 🤣😂🤣 </h6>



<hr>
<div class="row ">
    <div class="col">
        <app-grafico-barra-horizontal [results]="dificultatRecetas"></app-grafico-barra-horizontal>
    </div>
</div>


<div class="row ">
    <div class="col">
        <app-grafico-barra-vertical [results]="dificultatRecetas"></app-grafico-barra-vertical>
    </div>
</div>