<div class="container-fluid">

    <h1>Tinc gana <span class="badge badge-dark">App</span></h1>


    <div id="carouselExampleIndicators " class="carousel slide p-2 border border-3 " data-ride="carousel">
        <ol class="carousel-indicators ">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner img-fluid ">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../../../assets/img/vermut.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Un bon vermut</h5>
                    <p>Un vermut fá diumenge</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/img/vermut-1.png " alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/img/mandonguilles-amb-sepia.png " alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Mandonguilles amb sipia</h5>
                    <p>Amb una bona sipia i un bon suquet </p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/img/callos-amb-cigrons.png " alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Callos amb cigrons</h5>
                    <p>Una bon i sencill plat </p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/img/fricando.png " alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Fricandó</h5>
                    <p>Quan tinguis temps </p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/img/guatlles.png " alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <!-- Acordeó -->

    <div id="accordion" class="mt-3 ">
        <!-- Card 1 principal -->
        <div class="card bg-dark ">
            <div class="card-header" id="heading0">
                <h5 class="mb-0 ">
                    <button class="btn btn-link text-primary" data-toggle="collapse" data-target="#collapse0" aria-expanded="true" aria-controls="collapse0" data-parent="#accordion" href="#collapse0">
                    Cultureta básica
                  </button>
                </h5>
            </div>

            <div id="collapse0" class="collapse bg-secondary text-dark" aria-labelledby="heading0" data-parent="#accordion" href="#collapse0">
                <div class="card-body ">
                    A continuació pots consultar informació per a "beginners"

                    <!-- Acordeó secundari-->
                    <div id="sub-accordion" class="mt-3 ">
                        <!-- Hidrats de carboni -->
                        <div class="card ">
                            <div class="card-header bg-info" id="subHeading1">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSub1" aria-expanded="true" aria-controls="collapseSub1" data-parent="#sub-accordion" href="#collapseSub1">
                                                Hidrats de carboni
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSub1" class="collapse " aria-labelledby="subHeading1">
                                <div class="card-body">
                                    <p>Els hidrats de carboni o carbohidrats són la principal font d’energia del cos. </p>
                                    <p>El seu origen és vegetal i es divideixen en complexos (pas- ta, arròs, blat, cereals i patates) i senzills (sucre, mel i fruita).</p>
                                </div>
                            </div>
                        </div>

                        <!-- Proteïnes -->
                        <div class="card">
                            <div class="card-header bg-info" id="subHeading2">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSub2" aria-expanded="true" aria-controls="collapseSub2" data-parent="#sub-accordion" href="#collapseSub2">
                                                Proteïnes
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSub2" class="collapse " aria-labelledby="subHeading2">
                                <div class="card-body">
                                    <p>Les proteïnes aporten energia i s’encarreguen de formar anticossos, músculs, transportar substàncies per la sang, etc. Són importants per al creixement. </p>
                                    <p>Poden ser d’origen animal (carn, peix, ous i làctics) i d’origen vegetal (llegums i cereals). Es recomana menjar de 2 o 3 racions al dia.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Lípids -->
                        <div class="card">
                            <div class="card-header bg-info" id="subHeading3">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSub3" aria-expanded="true" aria-controls="collapseSub3" data-parent="#sub-accordion" href="#collapseSub3">
                                                Lípids
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSub3" class="collapse " aria-labelledby="subHeading3">
                                <div class="card-body">
                                    <p>Els lípids aporten el doble d’energia que els hidrats de carboni i les proteïnes.</p>
                                    <p>Tenen funció energètica, estructural, de transport de proteïnes en sang i donen sabor i textura als aliments.</p>
                                    <p>En contenen les mantegues, margarines, fruits secs i oli, entre d’altres.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Vitamines i minerals -->
                        <div class="card">
                            <div class="card-header bg-info" id="subHeading4">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSub4" aria-expanded="true" aria-controls="collapseSub4" data-parent="#sub-accordion" href="#collapseSub4">
                                                Vitamines i minerals
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSub4" class="collapse " aria-labelledby="subHeading4">
                                <div class="card-body">
                                    <p>Les vitamines i minerals no tenen funció energètica. Intervenen en diversos proces- sos fonamentals i la seva carència pot pro- vocar malalties.</p>
                                    <p>N ́hi ha de diferents tipus i cada un té una funció diferent. Es troben en diversos ali- ments com fruites i verdures, entre d’altres.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Data de consum preferent -->
                        <div class="card">
                            <div class="card-header bg-info" id="subHeading5">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSub5" aria-expanded="true" aria-controls="collapseSub5" data-parent="#sub-accordion" href="#collapseSub5">
                                                Data de consum preferent
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSub5" class="collapse " aria-labelledby="subHeading5">
                                <div class="card-body">
                                    <p>Les dates de consum preferent ens indiquen la data a partir de la qual un producte co- mença a perdre el sabor, l’olor o la textura.</p>
                                    <p>Superada la data, aquest encara es podrà menjar sense que això suposi un risc per a la salut, a excepció de quan mostri signes de mal estat.</p>
                                    <p>En són exemples les conserves, fruits secs, rebosteria, ous...</p>
                                </div>
                            </div>
                        </div>

                        <!-- Data de caducitat -->
                        <div class="card">
                            <div class="card-header bg-info" id="subHeading6">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSub6" aria-expanded="true" aria-controls="collapseSub6" data-parent="#sub-accordion" href="#collapseSub6">
                                                Data de caducitat
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSub6" class="collapse " aria-labelledby="subHeading6">
                                <div class="card-body">
                                    <p>La data de caducitat ens indica el dia límit que es pot consumir un aliment. Sobrepassada la data, si es consumeix pot ocasionar pro- blemes sanitaris.</p>
                                    <p>Alguns dels aliments que tenen data de caducitat són les carns, els productes làctics, els mol·luscs i els menjars preparats, entre d’altres.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Conservació dels  aliments: refrigeració -->
                        <div class="card">
                            <div class="card-header bg-info" id="subHeading7">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSub7" aria-expanded="true" aria-controls="collapseSub7" data-parent="#sub-accordion" href="#collapseSub7">
                                                    Conservació dels aliments: refrigeració
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSub7" class="collapse " aria-labelledby="subHeading7">
                                <div class="card-body">
                                    <p>Alguns dels aliments que consumim (carn, peix, ous, productes làctics, menjars preparats...) ne- cessiten ser guardats a la nevera a una tempe- ratura baixa, d’entre 0 i 5o C, perquè no es facin malbé.</p>
                                    <p>Els aliments no s’han de posar calents a la nevera, ja que deixen anar vapor que fa augmentar la temperatura de la resta d’aliments.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Conservació dels  aliments: congelació -->
                        <div class="card">
                            <div class="card-header bg-info" id="subHeading8">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSub8" aria-expanded="true" aria-controls="collapseSub8" data-parent="#sub-accordion" href="#collapseSub8">
                                                        Conservació dels aliments: congelació 
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSub8" class="collapse " aria-labelledby="subHeading8">
                                <div class="card-body">
                                    <p>Alguns dels aliments que consumim (carn, peix, ous, productes làctics, menjars preparats...) necessiten ser guardats a la nevera a una temperatura baixa, d’entre 0 i 5o C, perquè no es facin malbé.</p>
                                    <p>Els aliments no s’han de posar calents a la nevera, ja que deixen anar vapor que fa augmentar la temperatura de la resta d’aliments.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Descongelació -->
                        <div class="card">
                            <div class="card-header bg-info" id="subHeading9">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSub9" aria-expanded="true" aria-controls="collapseSub9" data-parent="#sub-accordion" href="#collapseSub9">
                                                            Descongelació
                                     </button>
                                </h5>
                            </div>

                            <div id="collapseSub9" class="collapse " aria-labelledby="subHeading9">
                                <div class="card-body">
                                    <p>Molts congelats es poden posar a coure directament sense descongelar.</p>
                                    <p>Deixeu el producte a la nevera (no a temperatura ambient) i, una vegada descongelat, cuineulo tot seguit.</p>
                                    <p>Es pot utilitzar el microones, ja que és un mètode fàcil i senzill.</p>
                                    <p>En el cas de la carn o del peix, cal posar-los sobre una reixeta, per evitar que l’aliment toqui els líquids que deixa anar.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Consells per comprar -->
                        <div class="card">
                            <div class="card-header bg-info" id="subHeading10">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSub10" aria-expanded="true" aria-controls="collapseSub10" data-parent="#sub-accordion" href="#collapseSub10">
                                                                Consells per comprar
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSub10" class="collapse " aria-labelledby="subHeading10">
                                <div class="card-body">
                                    <p>Organitzeu la compra: refrigerats i congelats els últims.</p>
                                    <p>No barregeu els aliments sense envasar ni adjunteu els congelats amb la resta d’aliments, per tal que es mantingui millor el fred. Porteu els congelats amb bossa isotèrmica.</p>
                                    <p>És important no entretenir-se, perquè els aliments puguin arribar a casa en les millors condicions possibles. </p>
                                </div>
                            </div>
                        </div>

                        <!-- Consells a l’arribar a casa -->
                        <div class="card">
                            <div class="card-header bg-info" id="subHeading11">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSub11" aria-expanded="true" aria-controls="collapseSub11" data-parent="#sub-accordion" href="#collapseSub11">
                                               Consells a l’arribar a casa
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSub11" class="collapse " aria-labelledby="subHeading11">
                                <div class="card-body">
                                    <p>Guardeu cada producte a la temperatura aconsellada: comenceu per posar els aliments congelats al congelador i la carn i peix frescos a la nevera.</p>
                                    <p> Les parts comestibles, guardeu-les en un lloc fresc o nevera.</p>
                                    <p> També es poden netejar, escaldar i guardar al congelador.</p>
                                    <p> Si hi ha grans quantitats a guardar de verdures o hortalisses, netegeu i escaldeu per congelar posteriorment o bé consumir.</p>
                                    <p>Si algun dels aliments està pròxim a la seva data de caducitat, intenteu consumir-los el mateix dia. Si això no fos possible, cuineu-lo i congeleu-lo.</p>
                                    <p>És important que en tot aquest procés us renteu les mans abans i després de tocar aliments.</p>
                                </div>
                            </div>
                        </div>

                        <!--  Manipulació d’aliments NETEJAR -->
                        <div class="card">
                            <div class="card-header bg-info" id="subHeading12">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSub12" aria-expanded="true" aria-controls="collapseSub12" data-parent="#sub-accordion" href="#collapseSub12">
                                            Manipulació d’aliments NETEJAR
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSub12" class="collapse " aria-labelledby="subHeading12">
                                <div class="card-body">
                                    <p>Netegeu-vos bé les mans amb aigua i sabó. Per fer un bon rentat, compteu fins a 20.</p>
                                    <p> Netegeu les superfícies i els estris que s’han d’utilitzar i més encara per a aliments crus.</p>
                                    <p> També es poden netejar, escaldar i guardar al congelador.</p>
                                    <p> Si hi ha grans quantitats a guardar de verdures o hortalisses, netegeu i escaldeu per congelar posteriorment o bé consumir.</p>
                                    <p>Utilitzeu draps nets per eixugar les mans, estris i superfícies.</p>
                                    <p>És important que en tot aquest procés us renteu les mans abans i després de tocar aliments.</p>
                                </div>
                            </div>
                        </div>

                        <!--  Manipulació d’aliments SEPARAR-->
                        <div class="card">
                            <div class="card-header bg-info" id="subHeading13">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSub13" aria-expanded="true" aria-controls="collapseSub13" data-parent="#sub-accordion" href="#collapseSub13">
                                             Manipulació d’aliments SEPARAR
                                     </button>
                                </h5>
                            </div>

                            <div id="collapseSub13" class="collapse " aria-labelledby="subHeading13">
                                <div class="card-body">
                                    <p>Utilitzeu estris diferents per a manipular dife- rents aliments o renteu-los cada cop que en feu ús</p>
                                    <p> A la nevera, mantingueu separats i tapats els aliments crus dels cuinats.</p>
                                    <p> Els aliments preparats per al consum han d’anar per damunt dels crus.</p>
                                    <p> Si hi ha grans quantitats a guardar de verdures o hortalisses, netegeu i escaldeu per congelar posteriorment o bé consumir.</p>
                                    <p>Utilitzeu draps nets per eixugar les mans, estris i superfícies.</p>
                                    <p>És important que en tot aquest procés us renteu les mans abans i després de tocar aliments.</p>
                                </div>
                            </div>
                        </div>

                        <!--  Manipulació d’aliments COURE-->
                        <div class="card">
                            <div class="card-header bg-info" id="subHeading14">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSub14" aria-expanded="true" aria-controls="collapseSub14" data-parent="#sub-accordion" href="#collapseSub14">
                                                 Manipulació d’aliments COURE
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSub14" class="collapse " aria-labelledby="subHeading14">
                                <div class="card-body">
                                    <p>Per coure algun aliment, cal assegurar-vos que no quedi cru, sobretot carn, peixos i truites.</p>
                                </div>
                            </div>
                        </div>

                        <!--  Manipulació d’aliments REFREDAR-->
                        <div class="card">
                            <div class="card-header bg-info" id="subHeading15">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSub15" aria-expanded="true" aria-controls="collapseSub15" data-parent="#sub-accordion" href="#collapseSub15">
                                                     Manipulació d’aliments REFREDAR
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSub15" class="collapse " aria-labelledby="subHeading15">
                                <div class="card-body">
                                    <p>Prepareu el menjar amb la menor antelació possible.</p>
                                    <p>Refredeu el més aviat possible els aliments cui- nats que no s’hagin de consumir immediatament o congeleu-los.</p>
                                </div>
                            </div>
                        </div>

                        <!--  Conservació productes SECS-->
                        <div class="card">
                            <div class="card-header bg-info" id="subHeading16">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSub16" aria-expanded="true" aria-controls="collapseSub16" data-parent="#sub-accordion" href="#collapseSub15">
                                                    Conservació productes SECS
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSub16" class="collapse " aria-labelledby="subHeading16">
                                <div class="card-body">
                                    <p>Els productes secs constitueixen una àmplia gamma d’aliments. Són bàsics en la nostra alimentació (cereals, pa, pastes, llegums, cafè...).</p>
                                    <p>S ́han d’evitar els llocs humits.</p>
                                    <p>Tenen un període de conservació molt llarg.</p>
                                </div>
                            </div>
                        </div>

                        <!--  Conservació productes en CONSERVA-->
                        <div class="card">
                            <div class="card-header bg-info" id="subHeading17">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSub17" aria-expanded="true" aria-controls="collapseSub17" data-parent="#sub-accordion" href="#collapseSub15">
                                                                        Conservació productes en CONSERVA
                                     </button>
                                </h5>
                            </div>

                            <div id="collapseSub17" class="collapse " aria-labelledby="subHeading17">
                                <div class="card-body">
                                    <p>Els productes en conserva, generalment els trobem en envasos de llauna, tetrabrik o plàstic.</p>
                                    <p>S’han de mantenir en un lloc fresc i sec, protegit del sol i de canvis sobtats de temperatura. Molts d’aquests aliments, superada la data de consum preferent, són encara aptes per ser consumits.</p>
                                    <p>Una vegada obert l’envàs, el seu consum ha de ser immediat, i es pot conservar a la nevera un màxim de 24/48h.</p>
                                    <p>Si presenten alguna de les següents anomalies, no es podrà consumir, ja que suposa un perill per a la salut:</p>
                                    <ul class="list-group">
                                        <li class="list-group-item disabled">La llauna està inflada i, tot i que es pressioni alguna de les tapes, aquestes no tornen al lloc.</li>
                                        <li class="list-group-item">La llauna presenta algun bombament, que desapa- reix amb la pressió de la mà i torna quan ja no es fa.</li>
                                        <li class="list-group-item">La llauna està oxidada o abonyegada.</li>
                                        <li class="list-group-item">La llauna té o ha tingut fuites.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--  Conservació OUS-->
                        <div class="card">
                            <div class="card-header bg-info" id="subHeading18">
                                <h5 class="mb-0 ">
                                    <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSub18" aria-expanded="true" aria-controls="collapseSub18" data-parent="#sub-accordion" href="#collapseSub15">
                                                                            Conservació OUS
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseSub18" class="collapse " aria-labelledby="subHeading18">
                                <div class="card-body">
                                    <p>La closca ha de ser neta, sense fissures ni trencaments.</p>
                                    <p>L’ou, com més fresc és, és més compacte.</p>
                                    <p>Cal guardar-los a la part menys freda de la nevera durant un màxim d’un mes.</p>
                                    <p>Els ous, quan es treuen de la nevera, s ́han d’utilitzar immediatament.</p>
                                    <p>És innecessari rentar els ous.</p>
                                    <p>No trenqueu la closca de l’ou en el ma- teix recipient on el batreu.</p>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- Fí Acordeó secundari-->


                </div>
            </div>
        </div>

        <!-- Card 2principal -->
        <div class="card bg-dark">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0 ">
                    <button class="btn btn-link text-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Mesures i equivalències
                  </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse bg-secondary" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body bg-info">
                    <p> <strong>Aigua - </strong>1 got = 250 ml; 1 cullerada sopera = 15 ml; 1 culleradeta = 5 ml </p>
                    <p> <strong>Vinagre -</strong> 1 got = 250 ml; 1 cullerada sopera = 15 ml; 1 culleradeta = 5 ml </p>
                    <p><strong>Oli - 1</strong> got = 230 ml; 1 cullerada sopera = 20 ml; 1 culleradeta = 5 ml </p>
                    <p><strong>Licor -</strong> 1 cullerada sopera = 20 g, 1 culleradeta = 7 g</p>
                    <p><strong>Llet sencera -</strong> 1 cullerada sopera = 14 ml; 1 culleradeta = 5 ml </p>
                    <p><strong>Nata liquida -</strong> 1 cullerada sopera = 14 g; 1 culleradeta = 5 g </p>
                    <p><strong>Crème fraîche (nata fresca) - </strong>1 cullerada sopera = 25 g; </p>
                    <p><strong>Llet condensada - </strong>1 cullerada sopera = 30   g; 1 culleradeta = 12 g</p>
                    <p><strong>Mel - </strong>1 got = 325 g, 1 cullerada sopera = 30 g</p>
                    <p><strong>Mantega -</strong> 1 cullerada sopera = 17 g, 1 culleradeta = 5 g
                        <p>
                            <p><strong>Salsa de tomàquet -</strong> 1 got = 190 g; 1 cullerada sopera = 25 g; 1 culleradeta = 5 g</p>
                            <p><strong>Llet en pols -</strong> 1 got = 100 g; 1 cullerada sopera = 20 g; 1 culleradeta = 12 g</p>
                            <p><strong>Farina -</strong> 1 got = 130 g; 1 cullerada sopera = 30 g (10 g-rasa, 40 g-50 g-molt plena)</p>
                            <p><strong>Sucre -</strong> 1 got = 200 g; 1 cullerada sopera = 25 g (15 g-rasa, 30g-molt plena); 1 culleradeta = 10 g</p>
                            <p><strong>Sal -</strong> 1 got = 325 g; 1 cullerada sopera = 30 g; 1 culleradeta = 10 g </p>
                            <p><strong>Sèmola de blat -</strong> 1 got = 190 g</p>
                            <p><strong>Arròs -</strong> 1 got = 180g</p>
                            <p><strong>Mongetes -</strong> 1 got = 190g</p>
                            <p><strong>Pèsols -</strong> 1 got = 170 grams</p>
                            <p><strong>Passes -</strong> 1 got = 155 g, 1 cullerada sopera = 25 g</p>
                            <p><strong>Cacau en pols -</strong> 1 cullerada sopera = 25 g, 1 culleradeta = 9 g</p>
                            <p><strong>Cafe mòlt -</strong> 1 cullerada sopera = 20 g, 1 culleradeta = 7 g</p>
                            <p><strong>Canyella en pols -</strong> 1 cullerada sopera = 20 g, 1 culleradeta = 8 g</p>
                            <p><strong>Llavors de rosella -</strong> 1 got = 135 g, 1 culleradeta = 15 g</p>
                            <p><strong>Nous -</strong> 1 got = 170g, 1 cullerada sopera = 30 g</p>
                            <p><strong>Bicarbonat de sodi -</strong> 1 cullerada sopera = 28 g, 1 culleradeta = 12 g </p>
                            <p><strong>1 got</strong> d'aigua = 200 ml - 250 ml</p>
                            <p><strong>1 got</strong> de vi = 100 ml</p>
                            <p><strong>1 copa </strong> de conyac = 50 ml</p>
                            <p><strong>1 cullerada</strong> = 15 ml</p>
                            <p><strong>1 cullerada</strong> de postres = 10 ml</p>
                            <p> <strong>1 culleradeta</strong> = 5 ml</p>
                            <p><strong>1 cup</strong> (mesura americana) = 236,5 ml</p>
                            <p><strong>1 oz</strong> = 28,35 g</p>
                            <p><strong>1 lliura</strong> = 453,59 g</p>



                </div>
            </div>
        </div>
    </div>
    <!-- Fí Acordeó -->

</div>