<div class='  container-fluid  main-container'>
    <app-navbar></app-navbar>


    <router-outlet></router-outlet>

    <div class="card-footer text-center d-flex justify-content-around">
        <div>
            <a href="https://enricsarra.blogspot.com/" target="_blank">Blog</a>
        </div>
        <div>
            <a href="https://github.com/enricsarra/tinc-gana" target="_blank">GitHub</a>
        </div>
        <div>
            <a href="http://84.126.43.84:2424/" target="_blank">HenryWSM</a>
        </div>
        <div>
            <a href="https://catalunyacuina.com" target="_blank">CatCuina</a>
        </div>


    </div>


</div>