<!-- 
https://swimlane.github.io/ngx-charts/#/ngx-charts/bar-vertical ***
https://stackblitz.com/edit/vertical-bar-chart?embed=1&file=app/app.component.ts 
https://github.com/swimlane/ngx-charts  (readme, link a documentación)
npm install @swimlane/ngx-charts --save
-->

<div class='chart-container'>


    <ngx-charts-bar-vertical [scheme]='colorScheme' [results]='results' [gradient]='gradient' [xAxis]='showXAxis' [yAxis]='showYAxis' [legend]='showLegend' [showXAxisLabel]='showXAxisLabel' [showYAxisLabel]='showYAxisLabel' [xAxisLabel]='xAxisLabel' [yAxisLabel]='yAxisLabel'
        (select)='onSelect($event) ' style='fill:grey;'>
    </ngx-charts-bar-vertical>
</div>